<header>
    <nav class="navbar site-footer">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../../assets/img/Unknown.jpeg" alt="Logo" width="150" height="130" class="d-inline-block align-text-top">
          </a>
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link"  routerLink=""><b>HOME</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="cursos"><b>CURSOS</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="estudiantes"><b>LISTA DE ALUMNOS</b></a>
            </li>
            
          </ul>
          <h2 class="me-2"> <b>Fray Servando Teresa de Mier</b></h2>
        </div>
      </nav>
</header>