.site-footer {
    background: rgb(229, 62, 62);
  }

  h2{
    font-family: fantasy ;
    text-shadow: -1px -1px 1px rgb(7, 234, 98),
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
  } 

  a{

    font-family: fantasy ;
    text-shadow: -1px -1px 1px rgb(7, 234, 98),
             0px 4px 1px rgba(0,0,0,0.5),
             4px 4px 5px rgba(0,0,0,0.7),
             0px 0px 7px rgba(0,0,0,0.4);
  }