<div>
    <!--img src="../../../assets/img/UPN.png" alt="Banner img"-->
   
        <div class="text-center">
            <img src="../../assets/img/educacionAdulta.jpeg" alt="alt"/>
        </div>
         <div class="container-fluid bg-dark text-warning ">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link text-warning" aria-current="page" href="#">Acerca de la Escuela</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-warning" href="#">Plan de Estudios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" href="#">Beneficios</a>
                </li>
            </ul>

        </div>
        <div class="container-fluid bd-warning text-dark ">
            <section>
                <div class="container-fluid d-flex">
                    <div class="p-5">
                        <h4>Somos la mejor opción a nivel zona oriente. Ofrecemos los mejores profesionales dispuestos a la educación continua</h4>
                        <p class="pt-3">Más de 20 talleres para complementar la formación estudiantil.</p>
                        <div class="container-fluid d-flex">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Talleres:</h5>
                                    <p>Desarrollo integral y crecimiento </p>
                                    <h5 class="pt-2">Duración:</h5>
                                    <p>3 meses</p>
                                </div>
                                <div class="col">
                                    <h5>Profesor</h5>
                                    <p >Profesores capacitados en el área</p>
                                    <h5 class="pt-2"> Reconocimiento:</h5>
                                    <p>Participación</p>                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <img class="m-3 shadow mb-5 bg-body rounded" src="../../../assets/img/Unknown.jpeg" alt="alt" width="700px" height="400px"/>
                </div>    
            </section>
        <div id="carouselExampleControls" class="carousel carousel-dark slide pt-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 1</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Robótica</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 2</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Cocina</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 3</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Carpintería</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 4</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Costura</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 5</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Computación</li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 6</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Dibujo</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 7</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Lectura</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 8</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Reparación de Celulares y Tablets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="cards-wrapper d-flex">
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 9</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Programación</li>
                                </ul>
                            </div>                            </div>
                        <div class="card m-2 shadow p-3 mb-5 bg-body rounded border-warning" id="card">
                            <div class="card-body">
                                <h5 class="card-title">Taller 10</h5>
                                <h5 class="card-title">Cursos</h5>
                                <ul class="margin-50">
                                    <li>Actuación y Canto</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="button-prev2" class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button id="button-next2" class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
</div>