<footer >
    <div class="logo">
        <img src="../../../../assets/img/Servando_teresa_de_mier.png" alt="logo" height="150" width="150">
    </div>
    <div class="text-light">
        <h3 class="text-dark">REDES SOCIALES</h3>
            <img src="../../../../assets/img/Unknown.png" alt="logo" height="70" width="70">
            <img src="../../../../assets/img/Instagram_logo_2022.png" alt="logo" height="70" width="70">
    </div>
    <div class="text-light">
        <h3 class="text-dark">CONTACTANOS</h3>
       
            <img src="../../../../assets/img/WhatsApp.png" alt="logo whatsapp"height="70" width="70" >
        
    </div>
</footer>