<main>
  <div class="container">
    <div class="card">
  <div class="card-body ">
<h5 class="card-title" style="text-align: center;">Sing up</h5>
<form [formGroup]="registreForm" class="row g-3">
<div class="col-6">

<label class="form-label" for="nombre">Email </label>
<input [formControl]="nombre" class="form-control" type="email" />
<small *ngIf="nombre.errors?.['required']" class="text-danger">Este campo es requerido</small>

</div>
<div class="col-6">

  <label class="form-label" for="apellido">Contraseña </label>
  <input [formControl]="apellido" class="form-control" type="text" />
  <small *ngIf="apellido.errors?.['required']" class="text-danger">Este campo es requerido</small>
  </div>
</form>
<div style="text-align: center;">
  <br>
  <button type="button" class="btn btn-primary" (click)="singUp()">Iniciar Sesión</button>

</div>

  </div>


</div>

</div>

</main>
